# Example env, for production

# Web
# ---
VITE_SERVER_URL=http://localhost:3000

# Server
# ---
# Can be generated with: openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001
DB_FILE_NAME=/app/db/db.sqlite

# Keep this secret, it is used to encrypt the credentials in the database. 
# If you change it, all credentials will be lost
# Can be generated with: openssl rand -base64 32
CREDENTIALS_MASTER_KEY_B64=